/* styles generals  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: rgb(9, 9, 11);

}

.nav-link {
    color: rgb(183, 183, 180) !important;
}

.nav-link:hover {
    color: rgb(218, 166, 34) !important;
}

.navbar-brand span:nth-child(1),
.btn {
    font-weight: bold;
    padding: 10px 12px;
    color: black !important;
    background-color: rgb(218, 166, 34) !important;
    margin-right: 10px;

}

.navbar button {
    transition: transform 0.3 ease;
}

.navbar button:hover {
    transform: scale(1.05);
}

/* hero section */
.hero {
    height: 100vh;
    background-color: rgb(12, 11, 11);
    color: white;
    padding: 100px 100px;
}

.hero h1 {
    font-size: 5rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.4rem;
    margin-bottom: 30px;
    color: rgb(183, 183, 180) !important;

}

.hero_buttons {
    gap: 15px;
}

.hero .nouveau_en_guinée {
    font-size: 0.8rem;
    color: rgb(218, 166, 34);
}

.hero .connecte,
.statistic .clients_satisfaits,
.statistic .cartes_crées {
    color: rgb(218, 166, 34);
}

.hero .row:nth-child(1) {
    margin-top: 20vh;
    margin-left: 15vh;
}

.hero_buttons .btn:nth-child(2) {
    background-color: black !important;
    color: rgb(218, 166, 34) !important;
    border: solid 1px rgb(218, 166, 34);
}

.hero_buttons .btn {
    padding: 15px 35px;
    border-radius: 20px;
}