<nav class="navbar navbar-expand-lg fixed-top" data-aos="fade-down" data-aos-duration="1100" data-aos-delay="100">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <span>B</span><span>BANKAÏ</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="avantages.html">Avantages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cartes.html">Nos Cartes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="entreprise.html">Entreprise</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="comment.html">Comment ça marche</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="temoignages.html">Témoignages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="faq.html">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
            </ul>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                </ul>
                <div class="d-flex align-items-center gap-3">
                    <a href="login.html" class="nav-link btn-login">Connexion</a>

                    <button onclick="window.location.href='commander.html';"
                        class="btn btn-commander">Commander</button>
                </div>
            </div>
        </div>
    </div>
</nav>